<!DOCTYPE html>
<html>

  <div class="image-grid">
    <a [routerLink]="['/main/game1']">
      <img src="assets/images/gamestill/victor-still.PNG" alt="Imagem 1">
    </a>
    <a [routerLink]="['/main/game2']">
      <img src="assets/images/gamestill/pedro-still.PNG" alt="Imagem 2">
    </a>
    <a [routerLink]="['/main/game3']">
      <img src="assets/images/gamestill/luana-still.PNG" alt="Imagem 3">
    </a>
    <a [routerLink]="['/main/game4']">
      <img src="assets/images/gamestill/maria-still.PNG" alt="Imagem 4">
    </a>
    <a [routerLink]="['/main/game5']">
      <img src="assets/images/gamestill/angelo-still.PNG" alt="Imagem 5">
    </a>
    <a [routerLink]="['/main/game6']">
      <img src="assets/images/gamestill/explo-still.PNG" alt="Imagem 6">
    </a>
    <a [routerLink]="['/main/game7']">
      <img src="assets/images/gamestill/friday-still.PNG" alt="Imagem 7">
    </a>
    <a [routerLink]="['/main/game8']">
      <img src="assets/images/gamestill/snake-still.PNG" alt="Imagem 8">
    </a>
    <a [routerLink]="['/main/game9']" style="opacity: 0;">
      <img src="assets/images/gamestill/angelo-still.PNG" alt="Imagem 9">
    </a>

    <!-- Se adicionar mais, ele cria novas linhas automaticamente -->
  </div>

  </html>
